{
    "singleQuote": true,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-solidity"],
    "overrides": [
        {
            "files": ["*.ts", "*.mts"],
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": ["*.sol"],
            "options": {
                "singleQuote": false,
                "tabWidth": 4
            }
        }
    ]
}